.not-found-container {
  background: #161625;
  width: 100vw;
  height: 100vh;
  padding: 40px 25px 0px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-button {
  width: 66px;
  height: 22px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .home-button {
    width: 88px;
    height: 30px;
  }
}

.not-found-image {
  width: 242px;
  height: 162px;
}

@media screen and (min-width: 768px) {
  .not-found-image {
    width: 448px;
    height: 300px;
  }
}

.not-found-heading {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #e2e8f0;
  height: 24px;
  top: 356px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .not-found-heading {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0em;
    height: 48px;
  }
}

.not-found-description {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  width: 290px;
  height: 40px;
  top: 388px;
  color: #94a3b8;
}

@media screen and (min-width: 768px) {
  .not-found-description {
    font-family: Roboto;
    font-size: 20px;
    line-height: 32px;
    width: 483px;
    height: 64px;
    top: 626px;
  }
}
