.about-heading {
  width: 65px;
  height: 32px;
  top: 88px;
  left: 24px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #f8fafc;
}

@media screen and (min-width: 768px) {
  .about-heading {
    width: 129px;
    height: 64px;
    top: 144px;
    left: 150px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 500;
    line-height: 64px;
  }
}

.about-covid-container {
  width: 100%;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* min-height: 100vh; */
  height: calc(50vh - 80px);
  /* margin-top: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; */
}

.about-last-update {
  margin: 10px 0px 20px 0px;
  color: #94a3b8;
  height: 16px;
  top: 132px;
  left: 24px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .about-last-update {
    margin: 20px 0px 20px 0px;
    height: 24px;
    top: 220px;
    left: 150px;
    font-size: 18px;
    line-height: 24px;
  }
}

.about-covid-distribution {
  margin-bottom: 10px;
  height: 48px;
  top: 172px;
  left: 24px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #e2e8f0;
}

@media screen and (min-width: 768px) {
  .about-covid-distribution {
    margin-bottom: 15px;
    height: 36px;
    top: 276px;
    left: 150px;
    font-size: 24px;
    line-height: 36px;
  }
}

.faqs-container {
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .faqs-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
