.search-item {
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.state-link:hover {
  background-color: #94a3b8; /* Change the background color on hover */
  cursor: pointer; /* Change the cursor to a pointer on hover */
}

.state-link {
  text-decoration: none;
  width: 100%;
  background-color: #161625;
  border: 0;
  margin-top: 4px;
}

.search-item-state-name {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #64748b;
}

@media screen and (min-width: 768px) {
  .search-item-state-name {
    text-align: left;
  }
}

.state-code-container {
  background-color: #1cd4d429;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.search-item-break {
  border: 0.1px solid #64748b;
  color: #64748b;
  width: 100%;
  margin-top: 3px;
}

.search-item-code {
  color: #facc15;
  font-family: 'HK Grotesk', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .search-item-code {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}
