.home-container {
  background: #161625;
  width: 100vw;
  min-height: calc(100vh - 56px);
  padding: 40px 25px 0px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-container {
    min-height: calc(100vh - 80px);
    padding: 50px 50px 0px 60px;
  }
}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 8px 16px 0px #171f4614;
  background: #1e1e30;
  border-radius: 5px;
}

.search {
  width: 98%;
  height: 48px;
  box-shadow: 0px 8px 16px 0px #171f4614;
  background-color: #1e1e30;
  border: 0;
  border-radius: 5px;
  color: #94a3b8;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.search:focus {
  outline: 2px dashed red;
}

@media screen and (min-width: 768px) {
  .search {
    width: 98%;
    height: 65px;
  }
}

.search-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search-results-container {
  width: 100%;
  background-color: inherit;
  color: inherit;
  padding-right: 20px;
}

.search-item {
  width: 100%;
  background-color: #161625;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px;
}

.search-item-state-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
