.home-container {
  background: #161625;
  width: 100vw;
  min-height: calc(100vh - 56px);
  padding: 40px 25px 0px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-container {
    min-height: calc(100vh - 80px);
    padding: 50px 50px 0px 60px;
  }
}

.search-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 8px 16px 0px #171f4614;
  background: #1e1e30;
  border-radius: 5px;
}

.search {
  width: 98%;
  height: 48px;
  box-shadow: 0px 8px 16px 0px #171f4614;
  background-color: #1e1e30;
  border: 0;
  border-radius: 5px;
  color: #94a3b8;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.search:focus {
  outline: 2px dashed red;
}

@media screen and (min-width: 768px) {
  .search {
    width: 98%;
    height: 65px;
  }
}

.search-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search-results-container {
  width: 100%;
  background-color: inherit;
  color: inherit;
  padding-left: 0;
}

.home-stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.stats-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.confirmed-container {
  color: #ff073a;
  font-family: 'Roboto';
}

.active-container {
  font-family: 'Roboto';
  color: #007bff;
}

.recovered-container {
  color: #28a745;
  font-family: 'Roboto';
}

.deceased-container {
  color: #6c757d;
  font-family: 'Roboto';
}

.stats-name {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .stats-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.stats-count {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .stats-count {
    padding-top: 15px;
  }
}

.state-wise-covid-data-table {
  margin-top: 80px;
  width: 100%;
  border: 1px solid #475569;
  box-shadow: 0px 4px 16px 0px #00000029;
  background: linear-gradient(0deg, #1e1e30, #1e1e30);
  border-radius: 6px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  height: 100%;
  overflow-x: scroll;
}

@media (max-width: 768px) {
  .state-wise-covid-data-table {
    width: 90%;
  }
}

.covid-data-table-header {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  height: 50px;
  padding: 30px;
}

@media screen and (min-width: 768px) {
  .covid-data-table-header {
    padding: 20px;
  }
}

.state-ut-icons-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.states-ut {
  padding-right: 10px;
}

.covid-data-table-hr-line {
  border: 1px solid #475569;
  color: #475569;
  height: 1px;
  width: 100%;
}

.covid-data-table-stats-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  height: 100%;
  margin-top: 15px;
}

/* .covid-data-table-state-names {
  width: 190px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #f1f5f9;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 0;
}

.covid-data-table-confirmed-count {
  text-align: right;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
  color: #ff073a;
  padding-left: 0;
  padding-top: 10px;
}

.covid-data-table-active-count {
  text-align: right;
  width: 43px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
  color: #007bff;
  padding-left: 0;
  padding-top: 10px;
}

.covid-data-table-recovered-count {
  text-align: right;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
  color: #28a745;
  padding-left: 0;
  padding-top: 10px;
}

.covid-data-table-deceased-count {
  text-align: right;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
  color: #6c757d;
  padding-left: 0;
  padding-top: 10px;
} */

.button-icon {
  background: transparent;
  border: 0;
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

.covid-data-table-stats {
  /* padding-left: 20px; */
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .covid-data-table-stats {
    padding-left: 30px;
  }
}

.table-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
  text-align: right;
  min-width: 20%;
}
