.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 0px;
}

.footer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-description {
  font-family: Roboto;
  letter-spacing: 0em;
  text-align: center;
  height: 24px;
  top: 1484px;
  left: 24px;
  color: #94a3b8;
  margin-top: 13px;
}

@media screen and (min-width: 768px) {
  .footer-description {
    height: 24px;
    top: 1316px;
    left: 546px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.footer-react-icon {
  width: 42px;
  height: 46px;
  border: 2px;
  margin: 10px;
  color: #cbd5e1;
}

@media screen and (max-width: 768px) {
  .footer-react-icon {
    width: 31px;
    height: 34px;
    border: 1.48px;
  }
}

.footer-icons-container {
  margin-top: 15px;
}
